
.card {
  margin: 2rem;

}
img{
  padding: 0.5rem;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;

.btn-like{
  border: none;
}

.btn-downvote {
  padding: 0.5rem;
}

.btn-upvote {
  padding-top: 1rem;
}
  p {
    margin-top: 1rem;
  }
}

.btn-like:hover{
    color:red;
    border: none;

  }
