
.card {
  margin: 2rem;


}

footer {
  display: flex;
  justify-content: right;

.btn-like{
  border: none;
}

  p {
    margin-top: 1rem;
  }
}

.btn-like:hover{
    color:red;
    border: none;

  }
