.bg-primary {
  background-color: #0d6efd!important;
}


nav {
  height: 5rem;


.searchBtn {
  background-color: #0d6efd;
  border-color: white;
  color:white;
}

#searchForm {
  width: 25rem;

 }

}
.searchBtn:hover{
  background-color: white;
  border-color: black;
}

.container-fluid {
   background-color: #0d6efd;
   z-index: 1;
   color:white;
   margin:0;

 }

 .btn-logout{
  color: rgba(255,255,255,.55);
  margin:0;
 }




