.bg-primary {
  background-color: #0d6efd!important;
}


nav {
  height: 5rem;
  font-weight: 700;


.searchBtn {
  background-color: #0d6efd;
  border-color: white;
  color:white;
}

#searchForm {
  width: 40rem;
  margin-right: 5rem;

 }


.searchBtn:hover{
  background-color: white;
  border-color: black;
}

.container-fluid {
   background-color: #0d6efd;
   z-index: 1;
   color:white;
   margin:0;

 }

 .btn-logout{
  color: rgba(255,255,255,.55);
  margin-right: 2rem;
 }

 .navbar-brand{
   margin: 0rem 6rem;
   font-size: 2rem;
   font-weight: bold;
   font-family: 'Titillium Web', sans-serif;

 }

 .nav-item {
   margin: 0rem 0.5rem;
 }
}



