.mainContainer {
  display: flex;
  justify-content: space-between;
  margin: 3rem;
  padding: 2rem 15em;

  .commentSection {
  width: 50%;
  height: 50%;

    .commentCard {
      margin-top: 1rem;
    }

  }
  .detailsCard{
   max-width: 400px;

  }

  .card-img-top{
    max-width: 100%;
    justify-self: center;
  }

  footer {
    display: flex;
    justify-content: right;

    .btn :hover{
      color:red;
    }

    p {
      margin-top: 1rem;
    }
  }
}

.list-group-item{
  margin-top: 1rem;
}




